@model IEnumerable<SophaTemp.Models.Facture>

@{
    ViewData["Title"] = "Index";
}
@section Style
{
    <link rel="stylesheet" type="text/css" href="~/css/Datatable/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

}
<div class="container mt-5">
<h1>Facturation</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
<br />
<table id="monTableau" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Montant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFacturation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commande)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFacturation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commande.CommandeId)
            </td>
            <td>

                    <a asp-action="Edit" asp-route-id="@item.FactureId" class="btn btn-sm btn-success">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.FactureId" class="btn btn-sm btn-info">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.FactureId" class="btn btn-sm btn-danger">Delete</a>
                    <a href="@Url.Action("Details", "Commandes", new { area = "Admin", id = item.Commande.CommandeId })" class="btn btn-sm btn-primary">Voir Commande</a>

                        

            </td>
        </tr>
}
    </tbody>
</table>
<br />
    <button onclick="afficherCommandes()" class="btn btn-sm btn-primary">Afficher la liste des Commandes</button>
@section Scripts
{
    <script src="~/js/Datatable/script.js" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">

    
        <script>
            function afficherCommandes() {
                window.location.href = "Commandes"; // Replace with your actual commandes route
            }
        </script>
}

