@model IEnumerable<SophaTemp.Models.CategoryMedicament>

@{
    ViewData["Title"] = "Index";
}
<div class="container mt-5">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Reference)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Libelle)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Libelle)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryMedicamentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryMedicamentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryMedicamentId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
