@model IEnumerable<SophaTemp.Models.Fournisseur>

@{
    ViewData["Title"] = "Index";
}
@section Style
{
    <link rel="stylesheet" type="text/css" href="~/css/Datatable/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

}
<div class="container mt-5">
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
    <table id="monTableau" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomComplet)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomComplet)
            </td>
        </tr>
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FournisseurId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FournisseurId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FournisseurId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
@section Scripts 
{
    <script src="~/js/Datatable/script.js" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
}