@* @model IEnumerable<SophaTemp.Viewmodel.SearchVm>

@if (Model.Any())
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@item.Nom</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">Prix: @item.PrixVente MAD</p>
                        <p class="card-text">Quantité: @item.Quantite</p>
                        <button class="btn btn-success add-to-cart" data-id="@item.MedicamentId">Ajouter au panier</button>
                        <a href="@Url.Action("ProdDetails", "ProductDetails", new { id = item.MedicamentId })" class="btn btn-info">Voir les détails</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Aucun résultat trouvé</p>
}
@section Scripts 
{
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.add-to-cart').click(function () {
                var medicamentId = $(this).data('id');
                $.ajax({
                    url: '@Url.Action("AddToCart", "Shop")',
                type: 'POST',
                data: { id: medicamentId },
                success: function (data) {
                    var cartIcon = $('.cart-icon');
                    cartIcon.text(data.totalItems);
                }
            });
        });
        
    </script>
} *@