@model IEnumerable<SophaTemp.Models.Lot>

@foreach (var lot in Model)
{
    <div class="form-group">
        <label>Lot @lot.LotId : @lot.DateDExpedition.ToString("dd/MM/yyyy")</label>
        <label>Quantité disponible : @lot.Quantite</label>
        <input type="number" class="form-control" min="0" max="@lot.Quantite" placeholder="Quantite"
               onchange="addLotToList(@lot.LotId, this.value, @lot.MedicamentId)" />
    </div>
}

