@model SophaTemp.Models.Commande

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Commande</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="border p-4 rounded">
           @*  @Html.DisplayNameFor(model => model.Client)
        </dt> *@
        @* <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.PersonneId)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCommande)
        </dt> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicament)
        </dt>
       
        

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLotCommande)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLotCommande)
        </dd>
    </dl>
</div>
<div>
                <a asp-action="Edit" asp-route-id="@Model.CommandeId" class="btn btn-primary">Edit</a> |

                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
