@model IEnumerable<SophaTemp.Models.Medicament>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <h1>Index</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p><br />

    <table class="table table-hover table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Reference)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantiteEnAlerte)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reference)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <img src="@item.Image"  alt="Image du médicament" class="img-fluid" style="max-width:100px; height:auto;">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantiteEnAlerte)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MedicamentId" class="btn btn-sm btn-success">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.MedicamentId" class="btn btn-sm btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.MedicamentId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
