@model SophaTemp.Models.Lot

@{
    ViewData["Title"] = "Delete Lot";
}
<div class="container mt-5">

    <h1>Delete Lot</h1>

    <h3>Vous êtes sûr de supprimer ce lot ?</h3>
    <div>
        <h4></h4>
        <hr />
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="border p-4 rounded">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Montant)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Montant)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Quantite)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Quantite)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.PrixAchat)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.PrixAchat)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.PrixVente)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.PrixVente)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.DateDeProduction)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.DateDeProduction)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.DateDExpedition)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.DateDExpedition)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Medicament)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Medicament.MedicamentId)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Fournisseur)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Fournisseur.FournisseurId)
                </dd>
            </dl>
    
            <form asp-action="Delete">
                <input type="hidden" asp-for="LotId" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                 <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </form>
                </div>
            </div>
        </div>
    </div>
