@inject IHttpContextAccessor HttpContextAccessor

@{
    var session = HttpContextAccessor.HttpContext.Session;
    var clientId = session.GetInt32("ClientId");
    var clientName = session.GetString("ClientName");

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SophaTemp</title>
    <link rel="icon" type="image/png" href="~/assets/image/SophaLogo.png">
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/assets/fonts/font/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true" />
    @RenderSection("Style", false)
</head>
<body>
    <header>
            @RenderSection("navbar", required: false)
        </header>
    <div class="container" >
            <main role="main" class="pb-3">
                <div class="navbar navbar-expand-lg bsnav bsnav-sticky bsnav-sticky-slide">
                    <div class="container">
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                            <img src="~/assets/image/SophaLogo.png" class="img-fluid logo" alt="img">
                        </a>
                        <button class="navbar-toggler toggler-spring">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav navbar-mobile ml-auto mr-auto">
                                <li class="nav-item dropdown activee">
                                    <a class="nav-link link_hd" href="@Url.Action("Index", "Home")">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link link_hd" href="@Url.Action("AboutUs", "AboutUs")">À propos</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link link_hd" href="@Url.Action("Contact", "Contact")">Contact</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link link_hd" href="@Url.Action("ShopView", "Shop")">Médicaments</a>
                                </li>
                                
                                @if (clientId == null)
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link link_hd" href="@Url.Action("Index", "Auth")">Login</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link link_hd" href="@Url.Action("Logout", "Auth")">Logout</a>
                                    </li>
                                }
                            </ul>
                            @if (clientId != null)
                            {
                                <ul class="navbar-nav navbar-mobile ml-auto mr-auto">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link link_hd" href="@Url.Action("ViewCart", "Shop")">
                                            <span class="flaticon-supermarket"></span>
                                            <span class="cart-icon">0</span>
                                        </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link link_hd" href="@Url.Action("ViewWishlist", "Shop")">
                                            <span class="flaticon-heart-1"></span>
                                            <span class="wishlist-icon">0</span>
                                        </a>
                                    </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link link_hd" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="flaticon-user"></span> @clientName
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                        <a class="dropdown-item" href="@Url.Action("UpdateProfile", "Auth")">Update Profile</a>
                                        <a class="dropdown-item" href="@Url.Action("Logout", "Auth")">Logout</a>
                                    </div>
                                </li>
                                </ul>
                            }
                            <ul class="navbar-nav navbar-mobile right-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">
                                        <span class="flaticon-search head-icon"></span>
                                    </a>
                                    <ul class="navbar-nav submenu">
                                        <li>
                                            <form action="#">
                                                <div class="form-group">
                                                    <input name="search" type="text" placeholder="Enter a Keywords">
                                                    <button type="submit" class="theme-btn">GO</button>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        @RenderBody()
        <div class="footer home-one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="footer-widget first">
                            <h2>À propos</h2>
                            <div class="footer-text">
                                <p>Notre mission est d'optimiser l'efficacité, la sécurité et la qualité des produits et services pharmaceutiques.</p>
                                <ul class="social-media">
                                    <li><a href="#" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-wifi"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="footer-widget two">
                            <h2>Catégories</h2>
                            <div class="footer-text">
                                <ul>
                                    <li><a href="#">Psychiatry</a></li>
                                    <li><a href="#">Ophthalmology</a></li>
                                    <li><a href="#">Cardiology</a></li>
                                    <li><a href="#">Immunology</a></li>
                                    <li><a href="#">Hematology</a></li>
                                    <li><a href="#">Gastroenterology</a></li>
                                    <li><a href="#">Orthopedics</a></li>
                                    <li><a href="#">Pulmonary</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="footer-widget two">
                            <h2>LINKS</h2>
                            <div class="footer-text">
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Appointment</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Doctors</a></li>
                                    <li><a href="#">Gallery</a></li>
                                    <li><a href="#">Timetable</a></li>
                                    <li><a href="#">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-last home-one">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="left">
                            <p>© 2024 <span>SOPHACHARK.</span> Tous droits réservés.</p>
                        </div>
                        <div class="right">
                            <ul>
                                <li><a href="#">Politique de confidentialité</a></li>
                                <li><a href="#">Termes & Condition</a></li>
                                <li><a href="#">Centre d'aide</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
