@model SophaTemp.Viewmodel.MedicamentDetailVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" id="theme-styles">
    

}

<section class="product_details_outer">
    <div class="container">
        <div class="row one">
            <div class="col-lg-6">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="~/@Url.Content(Model.Image)" class="img-fluid" alt="Image du médicament" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product_detail_right">
                    <h2 class="product_nam">@Model.Nom</h2>
                    <h6 class="product_price">@Model.PrixVente MAD</h6>
                    <h5><span class="flaticon-correct"></span>Dans le stock</h5>
                    <p class="product_description">@Model.Description</p>
                    <div class="add_to_carts">
                        <form id="addToCartForm">
                            <div class="field">
                                <input type="hidden" name="id" value="@Model.MedicamentId" />
                                <input type="number" name="quantity" id="quantity" value="1" min="1" max="100" />
                            </div>
                            <div class="addbtnct">
                                <button type="submit" class="theme-btn">Ajout au panier</button>
                            </div>
                        </form>
                    </div>
                    <div class="from_">
                        <p><span>Categories: Aminosides</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#addToCartForm').on('submit', function (e) {
                e.preventDefault();
                var formData = $(this).serialize();

                $.ajax({
                    url: '@Url.Action("AddToCart", "Shop")',
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        var cartIcon = $('.cart-icon');
                        cartIcon.text(data.totalItems);
                        Swal.fire({
                            title: "Produit ajouté au panier !",
                            text: "",
                            icon: "success"
                        });
                    },
                    error: function () {
                        alert('Erreur lors de l\'ajout au panier.');
                    }
                });
            });
        });
    </script>
}
