
@{
    Layout = "_Layout";
    var medicaments = ViewBag.showCartItems as List<SophaTemp.Viewmodel.ShowCartItem>;
    var categories = ViewBag.Categories as List<SophaTemp.Models.CategoryMedicament>;

}

<section class="shop_">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading">
                    <h1>La liste des médicaments</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="shop_left_bar">
                    <div class="categories">
                        <h2 class="sub_head">Categories</h2>
                        <ul>
                            <li><a href="#">All Categories<span>(8)</span></a></li>
                            @foreach (var categorie in categories)
                            {
                                <li><a href="#">@categorie.Libelle</a></li>
                            }
                        </ul>
                    </div>
                    <div class="widget_view_products">
                        <h2 class="sub_head">Viewed Products</h2>
                        <div class="view_products">
                            @foreach (var medicament in medicaments)
                            {
                                <div class="product_inner">
                                    <img src="~/@Url.Content(medicament.Medicament.Image)" alt="Image du médicament" class="img-fluid" style="max-width:100px; height:auto;">
                                    <div class="view_text">
                                        <h2>@medicament.Medicament.Nom</h2>
                                        <p>@medicament.Prix MAD</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop_right_bar">
                    <div class="top_shop_bar">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="products_showing">
                                    <p>22 résultats</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var medicament in medicaments)
                        {
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="shop_products_outer">
                                    <div class="image">
                                        <img src="~/@Url.Content(medicament.Medicament.Image)" alt="Image du médicament" class="img-fluid" style="max-width:100px; height:auto;">
                                        <div class="overlay_cart">
                                            <span class="flaticon-supermarket add-to-cart-icon" data-id="@medicament.Medicament.MedicamentId"></span><br>
                                            <span class="flaticon-heart add-to-wishlist-icon" data-id="@medicament.Medicament.MedicamentId"></span>
                                        </div>
                                    </div>
                                    <div class="porduct_des">
                                        <h2><a href="@Url.Action("ProdDetails", "ProductDetails", new { id = medicament.Medicament.MedicamentId })">@medicament.Medicament.Nom</a></h2>
                                        <p>@medicament.Prix MAD</p>
                                        <p>Il reste @medicament.Quantite U</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-------contact-through----->
<!-------backtotop-------->
<a href="#" id="scroll" class="default-bg" style="display: none;"><span></span></a>
<!-------backtotop-------->
<!---------mbile-navbar----->
<div class="bsnav-mobile">
    <div class="bsnav-mobile-overlay"></div>
    <div class="navbar">
        <button class="navbar-toggler toggler-spring mobile-toggler"><span class="fa fa-close"></span></button>
    </div>
</div>
<!---------mbile-navbar----->
<!-----------------------------------script-------------------------------------->
@section Scripts
    {
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/bsnav.min.js"></script>
    <script src="~/assets/js/jquery-ui.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/isotope.min.js"></script>
    <script src="~/assets/js/SmoothScroll.min.js"></script>
    <script src="~/assets/js/validator.min.js"></script>
    <script src="~/assets/js/contact.js"></script>
    <script src="~/assets/js/script.js"></script>

    <!--Google Map APi Key-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
    <script src="~/assets/js/gmaps.js"></script>
    <script src="~/assets/js/map-script.js"></script>

    <script>
        $(document).ready(function () {
            $('.add-to-cart-icon').click(function () {
                var medicamentId = $(this).data('id');
                $.ajax({
                    url: '@Url.Action("AddToCart", "Shop")',
                    type: 'POST',
                    data: { id: medicamentId },
                    success: function (data) {
                        var cartIcon = $('.cart-icon');
                        cartIcon.text(data.totalItems);
                    }
                });
            });

            $('.add-to-wishlist-icon').click(function () {
                var medicamentId = $(this).data('id');
                $.ajax({
                    url: '@Url.Action("AddToWishlist", "Shop")',
                    type: 'POST',
                    data: { id: medicamentId },
                    success: function (data) {
                        var wishlistIcon = $('.wishlist-icon');
                        wishlistIcon.text(data.totalItems);
                    }
                });
            });
        });
    </script>
}
