@model List<SophaTemp.Viewmodel.CartLineVm>
@{
    ViewData["Title"] = "Votre Panier";
    var medicaments = ViewBag.Medicaments;
}
@section Style 
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

}
<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">

                        <div class="row">
                            <div class="col-lg-7">
                                <h5 class="mb-3"><a href="@Url.Action("ShopView", "Shop")" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Vers La liste des médicaments si vous souhaitez ajouté un médicament</a></h5>
                                <hr>

                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1">Panier</p>
                                        <p class="mb-0">Vous avez @Model?.Count() article </p>
                                    </div>
                                   
                                </div>

                                
                                    @foreach (var item in Model)
                                    {
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div>
                                                            <img src="~/@item.Image" class="img-fluid rounded-3" alt="Shopping item" style="width: 60px;">
                                                        </div>
                                                        <div class="ms-3">
                                                            <h5> Le médicament : @item.Name</h5>
                                                            <p class="small mb-0">médicament</p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div style="width: 50px;">
                                                            <h5 class="fw-normal mb-0">@item.Quantite U </h5>
                                                        </div>
                                                        <div style="width: 80px;">
                                                            <h5 class="mb-0">@item.PrixdeVente MAD  </h5>
                                                        </div>
                                                    <a href="@Url.Action("RemoveFromCart", new { id = item.idMedicament })" style="color: #cecece;"><i class="fa-solid fa-trash"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                
                            </div>

                            <div class="col-lg-5">
                                <div class="card bg-success text-white rounded-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h5 class="mb-0">Paiement et bon de commande </h5>
                                        </div>

                                     

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Totale</p>
                                            <p class="mb-2">@Model.Sum(item => item.PrixdeVente * item.Quantite) MAD</p>
                                        </div>
                                        <div class="d-flex justify-content-between mb-4">
                                            <p class="mb-2">Total avec taxe</p>
                                            <p class="mb-2">@(Model.Sum(item => item.PrixdeVente * item.Quantite)+15) MAD</p>
                                        </div>

                                        <button type="button" class="btn btn-info btn-block btn-lg">
                                            <div class="d-flex justify-content-between">
                                                <span>@(Model.Sum(item => item.PrixdeVente * item.Quantite)) MAD </span>
                                                <span>Passer une commande <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
